@charset "utf-8";
a,applet,b,body,code,dd,del,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,label,li,object,ol,p,pre,span,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,u,ul {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline
}
input:focus {
  outline:0
}
input[type=button],input[type=reset],input[type=submit],input[type=text] {
  -webkit-appearance:none;
  border-radius:0
}
textarea {
  -webkit-appearance:none;
  border-radius:0
}
table {
  border-collapse:collapse;
  border-spacing:0
}
ol,ul {
  list-style:none
}
td,th {
  vertical-align:middle
}
em{
  font-style: normal;
}
body {
  margin:0 auto;
  font-family:Microsoft YaHei,Arial;
  _font-family:Microsoft YaHei,宋体,Arial;
  font-size:12px
}
html,html body {
  _background-image:url(about:blank);
  _background-attachment:fixed
}
/*leihao:2017-08-31 20:44:25*/
@charset "utf-8";
.Left {
  float:left
}
.Right {
  float:right
}
.r {
  text-align:right!important
}
.c {
  text-align:center!important
}
.l {
  text-align:left!important
}
a {
  text-decoration:none;
  color:#333
}
a:hover {
  color:#e62318!important
}
a:hover img {
  text-decoration:none
}
.red,a.red {
  color:#e62318!important
}
.white,a.white {
  color:#fff
}
.none {
  display:none
}
.clearfix:after {
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
.clearfix {
  *zoom:1
}
._view_,.w {
  margin-left:auto;
  margin-right:auto
}
.w {
  width:980px
}
._view_ {
  width:1190px
}
.f14 {
  font-size:14px
}
.mt10 {
  margin-top:10px
}
.mt15 {
  margin-top:15px
}
.mt20 {
  margin-top:20px
}
.mb10 {
  margin-bottom:10px
}
.mb15 {
  margin-bottom:15px
}
.inline_block {
  display:inline-block
}
.bold {
  font-weight:700
}
.pointer {
  cursor:pointer
}
.yahei {
  font-family:Microsoft YaHei
}
.yen {
  font-family:Arial,Helvetica,sans-serif
}
img {
  overflow:hidden;
  vertical-align:top;
  background:#eee
}
body {
  margin:0 auto;
  font-family:Microsoft YaHei,Arial;
  _font-family:宋体,Arial;
  font-size:12px
}
.pr {
  position: relative;
  z-index: 200;
}
